html,
body,
.view{
	height: 100%;
}	

.carousel{
	height: 50%;
}

.carousel .carousel-inner{
	height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
	height: 100%;
}

@media (max-width: 776px){
	.carousel{
		height: 100%;
	}
}

.page-footer{
	background-color: #45526e;
}

.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 120px;
}

.form-signin input {
	padding-bottom: 10px;
}

.form-signin a {
	margin: 0;
}


/* header {
	height: 20px;
} */

  	html,
	body,
	.carousel
	{
		height: 60vh;
	}
	@media (max-width: 740px){
		html,
		body,
		header,
		.carousel
		{
			height: 100vh;
		}
	@media (min-width: 800px) and (max-width: 850px) {
		html,
		body,
		header,
		.carousel
		{
			height: 100vh;
		}
	} 
}

.content {
	min-height: 500px;
}

.cart-empty {
	padding: 200px 0 0 0;
	text-align: center;
	margin: 0 auto;
	color: #9c9c9c;
}

.out-header {
	padding-top: 100px;
}

.card hr {
	margin-top: 0px;
	margin-bottom: 5px;
}

.card h4 {
	color: #235e92 !important;
}

.cart-desc {
	padding: 0.4rem;
	max-height: 250px;
	
}

.cart-text {
	border-right: 1px solid #dddedf; 
}

.cart-text p {
	text-align: left;
	padding: 0 10px 25px 10px;
}

.price {
	padding: 30px 15px 8px 0;
}

.button-buy {
	padding-right: 15px;
}

.block-buy button,
.clear-cart button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
}

.number-panel {
	border-top: 1px solid #dddedf;
}

.number-panel p {

	text-align: left;
	padding: 5px 0 0 0;
}

.act-all{
	padding: 0.5em;
}

.act-all button{
	
}

.payment-all,
.num-all-product,
.clear-cart {
	padding: 15px 0 0 0;
}

.num-all-product {
	
}

.clear-cart {

}

/*menu*/



/* .dwn-menu ul,
.dws-menu ol{
	list-style: none;
}

.dws-menu > ul{
	display: flex;
	justify-content: center;
}

.dws-menu > ul li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.dws-menu > ul li{
	position: relative;
	border-right: 1px solid #c7c8ca;
	min-width: 170px;
	float: left;
} */

/* .dws-menu > ul li > a i.fa{
	position: absolute;;
	top: 15px;
	left: 12px;
	font-size: 18px;
}

.dws-menu > ul li:first-child{
	border-left: 1px solid #c7c8ca;
} */

/* .dws-menu li a:hover{
	background: #58647f;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
} */

/* .dws-menu li ul{
	position: absolute;
	z-index: 10000;
	
	right: 0px;

} */

/* .dws-menu li > ul li{
	border: 1px solid #c7c8ca;
	width: 170px;
}

.dws-menu li > ul li,
.dws-menu ol{
	list-style: none;
}

.dws-menu li > ul li a{
	padding: 5px;
	text-transform: none;
	background: #e4e4e5;
	text-align: center;
} */

/* .dws-menu li > ul li:hover a{
	color: #fff;
}


.dws-menu li:hover ul,
.dws-menu li:hover ul li ul{
	display: block;
} */




#nextNav{ 
  text-align: center;
}
#top_menu{
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-top: 8px;
}
#top_menu > li{
  display: inline-block;  
  position: relative;
}

#top_menu li ul {
	z-index: 10000;
}

#top_menu > li > a{
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  transition: background-color 0.25s, color 0.15s;
  text-transform: uppercase;
  color: #fff;
}
#top_menu > li > a:hover{
  color: white;
  background: #58647f; 
}
#top_menu > li:hover > ul a{
  opacity: 1;
}
#top_menu > li:hover > ul li{
  height: 40px;
  opacity: 1;
}
.inner_menu{
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: #ededed;
}
.inner_menu > li{
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.4s;
}
.inner_menu > li > a{
  width: 100%;
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  height: inherit;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.5s;
}
.inner_menu > li > a:hover{
  color: white;
  background-color: #a3c2e3; 
}

.button-buy-product {
	padding: 10px 0 0 0;

}

.button-buy-product button{
	float: left;
	margin: 0px;
	width: 100%;
}

.row-correction {
	margin-left: 0px;
	margin-right: 0px;

}

/*Реклама-Баннер*/

.banners h1, h2{
	text-align: center;
}

.banners-low {
	padding: 40px 0 40px 0;
}

.banner-image {
	padding: 0px;
	width: 100%;

}

.banner-image div {
 	height: 300px;
  	width: 100%;
  	margin: 0 auto;
  	box-shadow: 1px 5px 10px -5px black;
}

.banner-image a {
  display: none;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #fff;
  animation: fade .5s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-image div:hover a {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.banner-high div {
	height: 400px;
}

.banner-high a {
	 line-height: 400px;
}

.comment-form {
	padding-top: 10px;
}

.comments span {
	font-weight: 500;
	font-size: 10pt;
}

.comments p {
	padding-top: 5px;
}

.comment-date {
	color: #989898;
}

/*Рейтинг*/

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 50px;
	line-height: 50px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

/*Результат рейтинга*/

.rating-result {
	width: 265px;
	margin: 0 auto;
}

.rating-result span {

	padding: 0;
	font-size: 40px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
	content: '★';
}

.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}


/*мини рейтинг*/

.rating-mini {
	display: inline-block;
	font-size: 0;
}

.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}

.rating-mini > span:before {
	content: '★';
}

.rating-mini > span.active {
	color: gold;
}
